---

import { Image } from "astro:assets";

import lapiz1 from "../assets/lapiz1.svg";
import cleancode from "../assets/cleancode.svg";
import rocket from "../assets/rocket.svg";
import responsive from "../assets/responsive.svg";
import support from "../assets/support.svg";
import brand from "../assets/brand.svg";

import Card from "./Card.astro";

const skills = [
    {
        img: lapiz1,
        alt: "User experience",
        title:"Diseño creativo",
        description: "Diseño de interfaces atractivas y funcionales.",
        width: "30px",
        height: "30px",
    },
    {
        img: cleancode,
        alt: "Clean code",
        title:"Clean code",
        description: "Escribo código limpio y mantenible para asegurar la calidad en el tiempo.",
        width: "30px",
        height: "30px",
    },
    {
        img: responsive,
        alt: "Responsive design",
        title:"Responsive design",
        description: "Diseño de interfaces responsivas adaptadas a todo tipo de pantallas.",
        width: "30px",
        height: "30px",
    },
    {   
        img: rocket,
        alt: "Experiencia de usuario",
        title:"Experiencia de usuario",
        description: "Experiencias UX/UI intuitivas y accesibles.",
        width: "30px",
        height: "30px",

    },
    {
        img: support,
        alt: "Soporte técnico",
        title:"Soporte rápido",
        description: "Soporte rápido y efectivo para resolver problemas técnicos.",
        width: "30px",
        height: "30px",
    },
    {
        img: brand,
        alt: "Colaboración con Diseñadores",
        title: "Colaboración con Diseñadores",
        description: "Convertí tus diseños en experiencias web interactivas.",
        width: "30px",
        height: "30px",
    },
];

---
<section class="">
<div class="md:pt-36 md:pr-36 md:pl-36 p-10 container-header flex flex-col md:flex md:flex-col md:shrink-0 md:gap-20">
    <div class="md:justify-start md:items-start">
        <p class="p-header font-normal md:font-normal text-neutral-200 text-[15px] md:text-[18px] tracking-widest md:tracking-widest">Mis servicios</p>
        <h1 class=" text-neutral-200 text-[30px] md:text-[50px] font-bold md:font-bold">Soluciones a tu medida</h1>    
    </div>   
</div>     
<div class="w-screen pt-4 p-10 md:pt-4 md:pr-36 md:pl-36 h-fit grid md:grid-cols-6 md:grid-rows-1 grid-cols-1 grid-rows-6 place-items-center gap-8">
      {skills.map((skill) => (
        <Card
          img={skill.img}
          alt={skill.alt}
          title={skill.title}
          description={skill.description}
          width={skill.width}
            height={skill.height}
        />
      ))}
    </div>     
    

</section>

<style>
    *{
        font-family: "acumin-pro", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

  
    
</style>